
# ready
# prefix: `${dfprefix}`
# type: WATCHING PLAYING LISTENING STREAMING COMPETING
# status: online idle dnd invisible
# 앞에서부터: 온라인 자리비움 방해금지 오프라인
# time: 시간단위
activity=[{name:`${dfprefix}help`,type:'WATCHING',status:'online',time:10},{name:`${dfprefix}도움말`,type:'WATCHING',status:'online',time:10}]

# 명령어 관련
prefix=;
deletetime=6000
addhour=0

# 자동자가진단
autoselfcheck=[7,30]
# 자동자가진단 [시간,분]

# 자동채널생성 [이름 : ${vc.member.user.username}]
AUTOVCHANNELNAME=`${vc.member.user.username}-음성채널`

# tts
ttsout=30
# ttsout 분

# 음악퀴즈 사이트 주소
mqsite=

# 디스코드 토큰
token=

# 망고db
mongourl=

# 유튜브 api
youtubeapi=

# google text to speech
type=
project_id=
private_key_id=
private_key=
client_email=
client_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_x509_cert_url=

# WEB PAGE
PORT=3000
DOMAIN=
DOMAIN_SLEEP=
DOMAIN_TIME=10
SESSION=
ACCOUNT=[{patchnote:{id:'None',pw:'None'},admin:{id:'None',pw:'None'}}]
