
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/"/>
        <link rel="icon" href="<%= domain %>/favicon.ico" type="image/x-icon"/>
        <meta name="title" content="에러"/>
        <meta property="og:title" content="에러"/>
        <meta name="description" content="에러"/>
        <meta name="og:description" content="에러"/>

        <meta property="url" content="<%= domain %>"/>
        <meta property="og:url" content="<%= domain %>"/>

        <meta property="image:alt" content="에러"/>
        <meta property="og:image:alt" content="에러"/>

        <title id="main_title">에러</title>
    </head>

    <body>
        <style>
            body {
                margin-top: 100px;
                text-align: center;
                font-size: 30px;
            }
            h2 {
                font-size: 100px;
                color: rgb(100, 100, 100);
            }
        </style>
        <h1>에러발생</h1>
        <h2>404</h2>
    </body>
</html>
