
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/"/>
        <link rel="icon" href="<%= domain %>/favicon.ico" type="image/x-icon"/>
        <meta name="title" content="마엔롤봇 사이트"/>
        <meta property="og:title" content="마엔롤봇 사이트"/>
        <meta name="description" content="마엔롤봇 사이트"/>
        <meta name="og:description" content="마엔롤봇 사이트"/>

        <meta property="url" content="<%= domain %>"/>
        <meta property="og:url" content="<%= domain %>"/>

        <meta property="image:alt" content="마엔롤봇 사이트"/>
        <meta property="og:image:alt" content="마엔롤봇 사이트"/>

        <title id="main_title">마엔롤봇 사이트</title>
    </head>

    <body>
        <style>
            .body {
                margin-top: 50px;
                text-align: center;
                font-size: 18px;
            }
            p {
                font-size: 30px;
                margin-bottom: 15px;
                font-weight: bold;
            }
            .id {
                margin-top: 5px;
                font-size: 15px;
                padding: 5px 5px;
            }
            .btn {
                margin-top: 10px;
                padding: 1px 4px;
                font-size: 25px;
            }
        </style>
        <div class="body">
            <button class="btn" onclick="location.href='/log'">로그확인</button><br/>
            <button class="btn" onclick="location.href='/patchnote'">패치노트</button>
    </body>
</html>
