
<!doctype html>
<html lang='ko'>
    <head>
        <base href="/"/>
        <link rel="icon" href="<%= domain %>/favicon.ico" type="image/x-icon"/>
        <meta name="title" content="유저확인"/>
        <meta property="og:title" content="유저확인"/>
        <meta name="description" content="유저확인"/>
        <meta name="og:description" content="유저확인"/>

        <meta property="url" content="<%= domain %>"/>
        <meta property="og:url" content="<%= domain %>"/>

        <meta property="image:alt" content="유저확인"/>
        <meta property="og:image:alt" content="유저확인"/>

        <title id="main_title">유저확인</title>
    </head>

    <body>
        <style>
            .body {
                margin-top: 50px;
                text-align: center;
                font-size: 18px;
            }
            p {
                font-size: 30px;
                margin-bottom: 15px;
                font-weight: bold;
            }
            .id {
                margin-top: 5px;
                font-size: 15px;
                padding: 5px 5px;
            }
            .btn {
                margin-top: 10px;
                padding: 1px 4px;
                font-size: 25px;
            }
        </style>
        <div class="body">
            <p>유저확인</p>
            <form action="/" method="POST">
                <a>서버아이디 : </a><input class="id" type="text" name="serverid"/><br/>
                <a>유저아이디 : </a><input class="id" type="text" name="userid"/><br/>
                <input class="btn" type="submit" value="이동"/>
            </form>
            <p>서버확인</p>
            <button class="btn" onclick="location.href='/name'">이동</button>
            <p>user</p>
        </div>
        <div class="user">
            <a>
                <% if (data.user.guildid) { %>
                    <%= JSON.stringify(data.user) %>
                <% } else { %>
                    <style>.user{text-align: center;font-size: 25px;}</style>
                    없음
                <% } %>
            </a>
        </div>
    </body>
</html>
